* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fefefe;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 10px;
  font-family: 'Open Sans', sans-serif;
}

.password-container {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding: 30px 50px 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 2px solid #e4e4e4;
  color: #e4e4e4;
}

.user-selects {
  margin: 50px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 10px;
  font-family: 'Open Sans', sans-serif;
}

.password-container {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding: 30px 50px 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 2px solid #e4e4e4;
}

h1 {
  color: #e4e4e4;
}

h1::selection {
  background-color: #03a9f4;
  color: #4a4a4a;
}

.user-selects {
  margin: 50px 0 20px;
  font-size: 14px;
  text-align: center;
}

.checkboxes .input {
  display: inline-block;
}

label {
  margin-right: 5px;
  color: #4a4a4a;
}

.input {
  margin-right: 30px;
  margin-top: 20px;
}

input {
  outline: none;
  color: #4a4a4a;
  border: 2px solid #4a4a4a;
  padding: 2px;
  background-color: #fefefe;
}

.submit {
  margin-top: 20px;
}

input[type='submit'] {
  padding: 8px 20px;
  border: none;
  margin-right: 0;
  background-color: #03A9F4;
  color: #ffffff;
  box-shadow: none;
  font-size: 14px;
  transition: all 0.1s ease-in;
}

input[type='submit']:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

#error {
  text-align: center;
  color: tomato;
}